.footer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: calc(50%);
  padding: 0 10px;
  position: absolute;
  bottom: 10px;
}
.footer_email {
  align-items: center;
  display: flex;
  color: var(--secondary);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
.footer_email img {
    margin-right: 5px;
}

@media screen and (max-width: 767px) {
  .footer {
    width: calc(100%);
  }
}